@model Backend6.Models.ViewModels.ForumMessageEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit message</h2>

<div class="blog-post-editor">
    <form asp-action="Edit" asp-route-messageId="@ViewBag.Message.Id">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="ForumTopics" asp-route-topicId="@ViewBag.Message.ForumTopicId">Back to topic</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
